$interpol: #00457D;
$AIT_grey: #5c6f77;
$AIT_red: #790b1b;

$link_color: $interpol;
$link_color_hover: grey;

.navbar-custom {
    background-color: $interpol;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: lightgrey;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: $interpol;
}

.navbar-custom .dropdown-item {
    color: white;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: white;
    background-color: grey;
}

body {
	a, a:active, a:visited {
		color: $link_color;
	}
	a:hover {
		color: $link_color_hover;
	}
}

main {
	.container {
		padding: 60px 60px 0;
		border: 2px;
		border-color: $interpol;
	}
	.tile {
		width: 40%;
		padding: 15px 30px 15px;
		margin: 10px;
		border: 1px solid $AIT_grey;
	}
	i {
		color: $interpol;
	}
	.card-body { height: 300px; }
	.card-img-center {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	img.bd-placeholder-img { height: 180px; }
}

footer {
	.container {
		padding-right: 15px;
  		padding-left: 15px;
	}
}

/* Colors for AIT Logo on About page Partners */
.ait {fill: $AIT_grey}
svg {fill: $AIT_red}